@font-face {
  font-family: 'DinkieBitmap 9px';
  src: url('./DinkieBitmap 9px.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}
